* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100vh;
  font-size: 100%;
}
body {
  height: 100%;
  background-image: url('../images/image-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(175, 216, 240); */
}

#hero-wrapper {
  align-items: center;
  background-color: lavender;
  border: 5px double black;
  border-radius: 10px;
  box-shadow: 5px 10px #000000;
}

#hero-image {
  border: 3px double #000000;
  border-radius: 10px;
  display:block;
  
  /* background-image: url('../images/dllopis.png');
  background-repeat: no-repeat;
  background-size: contain; */
}
#hero-img {
  max-width:100%;
  max-height:100%;
  vertical-align: top;
}
#hero-name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
#hero-name h1 {
  font-size: 2rem;
}
#hero-links {
  /* background-color: white; */
  padding: 20px;
}
#hero-links ul {
  display: block;
  padding: 10px;
  list-style-type: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#hero-links li {
  text-decoration: none;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  font-size: 1.5rem;
}
a {
  color: inherit;
  text-decoration: none;
} /* Unvisited link  */
a:visited {
  color: #000000;
} /* Visited link    */
a:hover {
  color: white;
} /* Mouse over link */
a:active {
  color: #0000ff;
} /* Selected link   */

li:hover {
  border-bottom: 1px solid rgb(253, 218, 64);
  border-top: 1px solid red;
  border-radius: 10px;
  background-color: rgb(77, 118, 255);
}
li:active {
  color: white;
  font-weight: bold;
}

#github-icon,
#linkedin-icon,
#gmail-icon {
  width: 2.5rem;
  height: 2.5rem;
}

@media (min-width: 43em){
  #hero-wrapper { display: flex;}
  #hero-image {flex:1 0 25%; } 
  #hero-name > header > h1 {
    font-size:2rem;
  }
  #hero-name { flex: 1 0 35%; }
  #hero-links { flex: 1 0 25%; } 
}

@media (min-width: 62em)  {
  html{
    font-size: 100%;
  }
  body {
    height: 100%;
    background-image: url('../images/wallpaper-1.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  #hero-wrapper { display: flex;}
  #hero-image {flex:1 0 25%;  }
  #hero-img {
    max-width:100%;
    max-height:100%;
  } 
  #hero-name > header > h1 {
    font-size:3.5rem;
  }
  #hero-image {flex:1 0 15%;} 
  #hero-name { flex: 1 0 30%; font-size: 1.5rem }
  #hero-links { flex: 1 0 35%; font-size: 1.5rem; }  
}
