/* Prevent highlighting of text when clicking on elements. Credit: stackoverflow-user/tw16 */
*:before, *:after, * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

#landing-page-wrapper  {
    display:flex;
    flex-direction:column;
    min-height:100vh;
    border:7px double black;
    border-color: yellowgreen;
}

#landing-image  {
    flex:10;
    border:1px solid black;
    background: url('../images/ninja-2.png') no-repeat; /* fallback */
    background: url('../images/ninja-2.png') no-repeat, linear-gradient(to right, #FFFFFF, #FFEFBA);
    background-size:contain;
    background-position: center;

}

#landing-content    {
    flex:1;
    display:flex;
    border:1px solid black;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#landing-content > div   {
    width:60%;
    padding: 0 .5em;
    margin: 0 .5em .5em;
    border: 5px double black;
    border-radius: 2em;
    border-color: gray;
    color:black;
    text-align: center;
    line-height: auto;
    font-size: 1.5em;
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: hidden;
}

#landing-content > div:hover    {
    background: rgb(221, 224, 226);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFDE4, rgb(241, 249, 255));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFDE4, rgb(221, 236, 250)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#landing-content > div:active    {
    font-weight: bold;
    background: rgb(221, 224, 226);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFDE4, rgb(241, 249, 255));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFDE4, rgb(221, 236, 250)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#about-page-wrapper {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    padding: 0 1em;
    border: 5px double black;
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#about-content header {
    text-align: center; 
    font: 5em sans-serif; 
    margin: .5em 0; 
    color: yellow;
}

#about-content p   {
    font-size: 1.2em;
    font-family: sans-serif;
    text-align:center;
    color:white;
    margin: .3em 0;
}

#p-2::after {
    color:greenyellow;
    font-size: 1.2em;
    content:' =)';
}

#demo-projects-wrapper  {
    display:flex;
    flex-direction: column;
    border: 7px double black;
    min-height: 100vh;
    padding: .5em;
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, rgb(224, 223, 208), #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#demo-content, #java-content, #octocat-content    {
    flex:1;
}
.project  {
    text-decoration: none;
    margin-bottom: .5em;
    color:white;
}

a:link  {
    text-decoration: none;
}
a:hover   {
    color:white;
}
a:active  {
    color: rgb(60, 255, 0);
}
.octocat-image   {
    max-width: 100%;
}