/* Prevent highlighting of text when clicking on elements. Credit: stackoverflow-user/tw16 */
*:before, *:after, * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

/* overall wrap of page - if i wanted to display everything at once */
#page   {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Containers for each section */
#landing-content-wrapper  {
    display:flex;
    flex-direction:column;
    min-height:100vh;
}
#about-content-wrapper {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    padding: 0 1em;
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#demo-content-wrapper  {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    text-align: center;
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, rgb(224, 223, 208), #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#contact-content-wrapper    {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgb(224, 223, 208), #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* landing section */
#landing-image  {
    flex: 1;
    background: url('../images/ninja-2.png') no-repeat; /* fallback */
    background-size:contain;
    background-position: center;
}
#landing-content    {
    flex:1;
    display:flex;
    padding: 1em;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#landing-content > div   {
    width:75%;
    padding: 0 .5em;
    margin: 0 .5em .5em;
    border: 5px double black;
    border-radius: 2em;
    border-color: gray;
    color:black;
    text-align: center;
    font-size: 1.5em;
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#landing-content > div:hover    {
    background: rgb(221, 224, 226);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFDE4, rgb(241, 249, 255));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFDE4, rgb(221, 236, 250)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#landing-content > div:active    {
    font-weight: bold;
    background: rgb(221, 224, 226);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFDE4, rgb(241, 249, 255));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFDE4, rgb(221, 236, 250)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* About content section */
#about-content header {
    text-align: center; 
    font: 5em sans-serif; 
    margin: .5em 0; 
    color: yellow;
}
#about-content p   {
    font-size: 1.2em;
    font-family: sans-serif;
    text-align:center;
    color:white;
    margin: .3em 0;
}
#smiley {
    background-color: white;
    color:blue;
    width:2em;
    height:2em;
    margin:0 auto;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 1em;
}

/* Demo content section */
#demo-content{
    /* border:5px solid red; */
    flex:1;
}   
#java-content{
    /* border:5px solid white; */
    flex:1;
}
#octocat-content    {
    /* border:5px solid orange; */
    flex:1;
    color:white;
    font-size: 1.2em;
    font-weight: bold;
}

/* Contact content section */
#contact-content    {
    flex:6;
    display:flex;
    flex-direction: column;
    text-align: center;
    padding: 1em 1em;
}
#contact-section-a, #contact-section-b  {
    flex:1;
}

#contact-content > div > h1 {
    color:yellow;
}
#contact-content > div > p    {
    color:white;
    font: 1.5em sans-serif;
}
#contact-content header {
    font-size: 2em;
    margin-bottom: 1em;
    font-family: sans-serif;
    color:white;
}

#logo-bar   {
    display: flex;
    flex:3;
    border:5px double white;
    border-radius:10%;
    flex-direction: column;
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, rgb(224, 223, 208), #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Class styles */
.project  {
    text-decoration: none;
    margin-bottom: .5em;
    color:white;
}
.logo-icons {
    flex:1;
    color:white;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}
a:link  {
    text-decoration: none;
    color: blue;
}
a:visited   {
    color: blue;
}
a:hover   {
    color:white;
}
a:active  {
    color: rgb(60, 255, 0);
}
.image-content   {
    max-width: 100%;
    height:64px;
    width:64px;
}